@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
    --bulma-primary-h: 240deg;
    --bulma-primary-l: 96%;
    --bulma-body-background-color: hsl(39, 74%, 98%);
  }
  
  .navbar {
    --bulma-navbar-h: 239;
    --bulma-navbar-s: 24%;
    --bulma-navbar-l: 29%;
    --bulma-navbar-background-color: hsl(240, 100%, 94%);
    --bulma-navbar-item-background-l-delta: 33%;
  }  
  