@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
--bulma-body-background-color: #FEFCF8;
}

.navbar {
--bulma-navbar-h: 255;
--bulma-navbar-s: 50%;
--bulma-navbar-background-color: #ECECFF;
--bulma-navbar-box-shadow-color: #E0E0E6;
--bulma-navbar-hover: #ECECFF;
--bulma-navbar-item-hover-background-l-delta: 80%;
--bulma-navbar-item-color: black;
--bulma-navbar-height: 6em;
}

.custom-search-input {
width: 700px;
color: #333;
background-color: #f0f0f0;
border-style: inset;
border-color:#b4b4b4;
}

.custom-search-input::placeholder {
color: #aaa;
opacity: 1;
}


/* Custom styles for the search button */
.custom-search-button {
background-color: #A085AB;
color: white;
border: #A085AB;
height: 40px;
}
